<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.osalnes.app"
        version   = "1.0.0">
    <name>O Salnes</name>

    <description>
        Aplicacion oficial de O Salnes
    </description>

    <author href="http://e-imaxina.com" email="info@e-imaxina.com">
        Imaxina Novas Tecnoloxias
    </author>


    <feature name="http://plugins.phonegap.com/ChildBrowser/2.0.1" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="stay-in-webview"  value="true" />
    <preference name="android-installLocation"  value="preferExternal" />

    <icon src="icon.png" />
    <gap:splash src="icon.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="icon.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="icon.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="icon.png" gap:platform="android" gap:density="xhdpi" />

</widget>